* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1f21;
    color: #00ff00;
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

#terminal {
    background-color: #000;
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    height: 90%;
    
    max-height: 600px;
    overflow-y: auto;
    border: 2px solid #00ff00;
    display: flex;
    flex-direction: column;
}

#output {
    display: flex;
    flex-direction: column;
    color: #00ff00;
    white-space: pre-wrap;
}

/* Flex container to make ascii-art and system-info responsive */
#ascii-system-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
    justify-content: space-between;
    gap: 10px; /* Spacing between the two sections */
}

#ascii-art, #system-info {
    flex: 1;
    min-width: 300px; /* Ensures elements wrap when screen size is smaller */
}

/* Input section */
#input {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#prompt {
    margin-right: 5px;
}

#command {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    outline: none;
    caret-color: #fff;
}

pre code {
    color: #00ff00; /* Default color for code blocks */
}

pre code .token.comment {
    color: #666; /* Comment color */
}

pre code .token.keyword {
    color: #ff79c6; /* Keyword color */
}

pre code .token.string {
    color: #f1fa8c; /* String color */
}

pre code .token.function {
    color: #8be9fd; /* Function name color */
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #00ff00;
}

::-webkit-scrollbar-track {
    background-color: #1d1f21;
}

/* Media query to switch to row layout on larger screens */
@media (min-width: 768px) {
    #ascii-system-container {
        flex-direction: row; /* Display side-by-side on wide screens */
    }
}
