* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1f21;
    color: #ff69f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

#terminal {
    background-color: #000;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
    border: 2px solid #00ff00;
}

#output {
    white-space: pre-wrap;
    color: #00ff00;
}

#input {
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* color: #fff; */
}

#prompt {
    margin-right: 5px;
}

#command {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    outline: none;
    caret-color: #fff;
}

#ascii-art {
    margin-bottom: 10px;
}

pre code {
    color: #00ff00; /* Default color for code blocks */
}

pre code .token.comment {
    color: #666; /* Comment color */
}

pre code .token.keyword {
    color: #ff79c6; /* Keyword color */
}

pre code .token.string {
    color: #f1fa8c; /* String color */
}

pre code .token.function {
    color: #8be9fd; /* Function name color */
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #00ff00;
}

::-webkit-scrollbar-track {
    background-color: #1d1f21;
}
